.side_drawer {
  :global {
    .ant-drawer-content {
      border-top-left-radius: 20px;
      box-shadow: inset 5px 5px 16px -8px rgb(0 0 0 / 8%);
    }

    .ant-drawer-content-wrapper {
      box-shadow: none !important;
    }
  }
}
